.FirstDiv{
  color:white;
  background-color:rgb(1, 1, 1);
  height:10%;
  position:fixed;
  top:0;
  right:0;
  left:0;

  text-align:center;
  align-items: center;
  
  display:flex;
  justify-content:space-between ;


hover{
     cursor: "pointer" }
}



.Link2{
  flex-basis:50%;
  margin:0 auto;
}
.Link3{
 background-color: rgb(254, 128, 2);
  margin-right:0px;
  padding:7px;
}
