.header-name {
  color: rgb(254, 254, 254);
  //font-family: "cherry Swash", cursive;
}


.itemContainer {
  text-align: center;
  
  height: auto;
  display:flex;
  flex-wrap:wrap;
 
  justify-content: space-around;
}

.item {
  flex-basis:200px;
  flex-grow:1;
  
  max-width: 250px;
  margin: 20px 10px;
  box-shadow: 0 0 6px #000000;
  background-color: #e5e5e5;
  border-radius: 10px;
  cursor: pointer;
  

  
}

.pic {
 // max-width: 50%;
  height: auto;
  display:block;
  border-radius:10px 10px 0 0;
}

.explain {
  height: 120px;
}

