.pic{
  text-align:center;
 }
 
 .image{
   display:inline-block;
 }
 
 .explain{
   font-family: 'Karla', sans-serif;
   font-size:20px;
 }
 
 .brand{}
 
 .category{}
 
 .detail{}
 
 .size{}
 
 .condtion{}